# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=datawarehouse
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# Metabase
METABASE_PORT=3000

# Airflow
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
AIRFLOW_PORT=8081
AIRFLOW_FLOWER_PORT=5555
AIRFLOW_FERNET_KEY=UKMzEm3yIuFYEq1y3-2FxPNWSVwRASpahmQ9kQfEr8E=

# Spark
SPARK_MASTER_PORT=8080
SPARK_MASTER_RPC_PORT=7077
SPARK_WORKER_MEMORY=2G
SPARK_WORKER_CORES=2

# Redis
REDIS_PORT=6379

# Network
NETWORK_NAME=data_network
